<div id="<%= dom_id grade %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= grade.value %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Execute on:</strong>
    <%= grade.execute_on %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Examination:</strong>
    <%= grade.examination_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Student:</strong>
    <%= grade.student_id %>
  </p>
</div>
