<div id="<%= dom_id promotion_assert %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= promotion_assert.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Function:</strong>
    <%= promotion_assert.function %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Moment:</strong>
    <%= promotion_assert.moment_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Sector:</strong>
    <%= promotion_assert.sector_id %>
  </p>
</div>
