<div id="<%= dom_id school_class %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= school_class.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Moment:</strong>
    <%= school_class.moment_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Room:</strong>
    <%= school_class.room_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Master:</strong>
    <%= school_class.master_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Sector:</strong>
    <%= school_class.sector_id %>
  </p>
</div>
