<div id="<%= dom_id address %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Zip:</strong>
    <%= address.zip %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Town:</strong>
    <%= address.town %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Street:</strong>
    <%= address.street %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Number:</strong>
    <%= address.number %>
  </p>
</div>
