<div id="<%= dom_id course %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Start at:</strong>
    <%= course.start_at %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">End at:</strong>
    <%= course.end_at %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Archived:</strong>
    <%= course.archived %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Subject:</strong>
    <%= course.subject_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">School class:</strong>
    <%= course.school_class_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Moment:</strong>
    <%= course.moment_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Teacher:</strong>
    <%= course.teacher_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Week day:</strong>
    <%= course.week_day %>
  </p>
</div>
