<%= form_with(model: course, class: "contents") do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul class="list-disc ml-6">
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :start_at %>
    <%= form.time_field :start_at, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": course.errors[:start_at].none?, "border-red-400 focus:outline-red-600": course.errors[:start_at].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :end_at %>
    <%= form.time_field :end_at, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": course.errors[:end_at].none?, "border-red-400 focus:outline-red-600": course.errors[:end_at].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :archived %>
    <%= form.check_box :archived, class: ["block shadow-sm rounded-md border outline-hidden mt-2 h-5 w-5", {"border-gray-400 focus:outline-blue-600": course.errors[:archived].none?, "border-red-400 focus:outline-red-600": course.errors[:archived].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :subject_id, "Subject" %>
    <%= form.collection_select :subject_id, Subject.active, :id, :name, 
        { prompt: "Select a subject" },
        class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", 
                {"border-gray-400 focus:outline-blue-600": course.errors[:subject_id].none?, 
                 "border-red-400 focus:outline-red-600": course.errors[:subject_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :school_class_id, "School Class" %>
    <%= form.collection_select :school_class_id, SchoolClass.active, :id, :name, 
        { prompt: "Select a school class" },
        class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", 
                {"border-gray-400 focus:outline-blue-600": course.errors[:school_class_id].none?, 
                 "border-red-400 focus:outline-red-600": course.errors[:school_class_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :moment_id, "Academic Period" %>
    <%= form.collection_select :moment_id, Moment.active, :id, :display_name, 
        { prompt: "Select an academic period" },
        class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", 
                {"border-gray-400 focus:outline-blue-600": course.errors[:moment_id].none?, 
                 "border-red-400 focus:outline-red-600": course.errors[:moment_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :teacher_id, "Teacher" %>
    <%= form.collection_select :teacher_id, Person.active.where(role: :teacher), :id, :full_name, 
        { prompt: "Select a teacher" },
        class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", 
                {"border-gray-400 focus:outline-blue-600": course.errors[:teacher_id].none?, 
                 "border-red-400 focus:outline-red-600": course.errors[:teacher_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :week_day, "Day of Week" %>
    <%= form.select :week_day, 
        options_for_select([
          ["Monday", 1],
          ["Tuesday", 2],
          ["Wednesday", 3],
          ["Thursday", 4],
          ["Friday", 5],
          ["Saturday", 6],
          ["Sunday", 0]
        ], course.week_day),
        { prompt: "Select a day" },
        class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", 
                {"border-gray-400 focus:outline-blue-600": course.errors[:week_day].none?, 
                 "border-red-400 focus:outline-red-600": course.errors[:week_day].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
