<%= form_with(model: examination, class: "contents") do |form| %>
  <% if examination.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(examination.errors.count, "error") %> prohibited this examination from being saved:</h2>

      <ul class="list-disc ml-6">
        <% examination.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": examination.errors[:title].none?, "border-red-400 focus:outline-red-600": examination.errors[:title].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :effective_date %>
    <%= form.date_field :effective_date, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": examination.errors[:effective_date].none?, "border-red-400 focus:outline-red-600": examination.errors[:effective_date].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :course_id, "Course" %>
    <%= form.collection_select :course_id, Course.all, :id, ->(course) { "#{course.subject.name} - #{course.school_class.name} (#{Date::DAYNAMES[course.week_day]}, #{course.start_at.strftime("%H:%M")} - #{course.end_at.strftime("%H:%M")})" }, { prompt: "Select a course" }, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": examination.errors[:course_id].none?, "border-red-400 focus:outline-red-600": examination.errors[:course_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
