<%= form_with(model: moment, class: "contents") do |form| %>
  <% if moment.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(moment.errors.count, "error") %> prohibited this moment from being saved:</h2>

      <ul class="list-disc ml-6">
        <% moment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :uid %>
    <%= form.text_field :uid, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": moment.errors[:uid].none?, "border-red-400 focus:outline-red-600": moment.errors[:uid].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :start_on %>
    <%= form.date_field :start_on, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": moment.errors[:start_on].none?, "border-red-400 focus:outline-red-600": moment.errors[:start_on].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :end_on %>
    <%= form.date_field :end_on, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": moment.errors[:end_on].none?, "border-red-400 focus:outline-red-600": moment.errors[:end_on].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :moment_type %>
    <%= form.number_field :moment_type, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": moment.errors[:moment_type].none?, "border-red-400 focus:outline-red-600": moment.errors[:moment_type].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
