<div id="<%= dom_id moment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Uid:</strong>
    <%= moment.uid %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Start on:</strong>
    <%= moment.start_on %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">End on:</strong>
    <%= moment.end_on %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Moment type:</strong>
    <%= moment.moment_type %>
  </p>
</div>
